<form action="">
  <div class="flex flex-column gap-2">
    <label htmlFor="username">Username</label>
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      formControlName="title"
    />
    <small id="username-help"
      >Enter your username to reset your password.</small
    >
  </div>

  <p-checkbox
    name="groupname"
    value="val1"
    label="Value 1"
    formControlName="title"
  ></p-checkbox>
  <p-checkbox
    name="groupname"
    value="val2"
    label="Value 2"
    formControlName="title"
  ></p-checkbox>

  <span class="p-float-label">
    <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
    <label for="float-input">Summary</label>
  </span>
</form>
