:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e497a;
  padding: 15px;
}

a {
  color: #f1d00a;
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
