:host {
    display: flex;
    background-color: #F0F0F0;
    padding: 15px;
    flex-wrap: wrap;
    max-width: 700px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #21325E;


}

img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.platform-logo {
    height: 30px;
    width: 30px;
    padding-left: 10px;
    object-fit: contain;

}

.infos h2 {
    
    padding: 10px;
}

.console {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.platforme{
    display: flex;
    align-items: center;
    background-color: #21325E;
    border-radius: 20px;
    color: #F0F0F0;

}

.console h3 {
    padding: 10px;
}

p {
    padding: 10px;
    text-align: justify;
}